body {
    margin: auto;
}

h2 {
    padding: 1rem;
}

h3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* ----- Search Result Display ----- */
article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: center;    
}

/* whilst searching */
.loading-div {
    text-align: center;
}
.loading-image {
    width: 80vw;
    margin: auto;
}

/* when result arrives */
.dog-pic-2 {
    order: 1;
}
.dog-pic-3 {
    order: 3;
}
.dog-pic-4 {
    order: 5;
}

.breed-info {
    text-align: justify;
}

.temperament {
    order: 2;    
}
.typical-characteristics {
    order: 4;
}

.dog-pics {
    width: 95vw;
}
.characteristics {
    display: inline;
}
.characteristics b{
    text-transform: capitalize;
}

@media only screen and (min-width: 600px) {
    /* ----- Search Result Display ----- */
    body {
        max-width: 1024px;
    }    
    article {
        grid-template-columns: 1fr 2rem 2rem 1fr;
    }

    /* whilst searching */
    .loading-image {
        max-width: 900px;
    }

    /* when result arrives */
    .dog-pics{
        width: 100%;
        order: 0;
    }
    .dog-pic-1 {
        grid-column: 1/4;
    }
    .dog-pic-2 {
        grid-column: 4/5;
    }
    .dog-pic-3 {
        grid-column: 1/2;
    }
    .dog-pic-4 {
        grid-column: 2/5;
    }

    .description {
        grid-column: 1/5;
    }
    .temperament {
        grid-column: 1/3;
    }
    .typical-characteristics {
        grid-column: 3/5;
    }
}

/* Doogle Heading */
h1 {
    text-align: center;
  }
  
  /* Search input */
  input {
    border: 2px solid hsl(226, 2%, 92%);
    padding: 8px 0px 2px 0px;
  }
  
  /* Submit button */
  button {
      box-shadow:inset 0px 0px 0px 0px #ffffff;
      background:  hsl(226, 61%, 63%);
      border-radius:6px;
      border:1px solid hsl(226, 1%, 94%);
      display:inline-block;
      cursor:pointer;
      color: hsl(226, 0%, 100%);
      font-family:Arial;
      font-size: 15px;
      padding: 6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
    outline: none;
  }
  button:hover {
      background-color: hsl(226, 72%, 59%);
  }
  button:active {
      position:relative;
      top:1px;
  }